[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eric.park (pjsin)
	owner = group user/Nexell Jenkins (nxJenkins)
	owner = group user/SeongO Park (raypark714)
	owner = group user/allan park (mcjino21)
	owner = group user/hokahie
	owner = group user/jung hyun kim (nxrohan)
[access "refs/for/refs/*"]
	read = group user/Eric.park (pjsin)
	push = group user/Eric.park (pjsin)
	label-Code-Review = -2..+2 group user/Eric.park (pjsin)
	label-Verified = -1..+1 group user/Eric.park (pjsin)
	rebase = group user/Eric.park (pjsin)
	removeReviewer = group user/Eric.park (pjsin)
	submit = group user/Eric.park (pjsin)
[access "refs/heads/*"]
	read = group user/Eric.park (pjsin)
	create = group user/Eric.park (pjsin)
	push = group user/Eric.park (pjsin)
	pushMerge = group user/Eric.park (pjsin)
[access "refs/tags/*"]
	push = group user/Eric.park (pjsin)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = rebase always
	mergeContent = false
